* {
    padding: 0%;
    margin: 0%;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        lightskyblue, white
    );
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 4%;
}

.container {
    margin-top: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 7%;
}

.title-input{
    display: flex;
    color: black;
}

.user_input {
    display: flex;
    text-align: center;
    height: 7vh;
    width: 37vh;
    background-color: white;
    margin-top: 7%;
    border-radius: 17px;
    font-size: 15px;
}  

.user_input:hover{
    background-color: lightgray;
}

.cadastro_button{
    height: 7vh;
    width: 60vh;
    border-radius: 17px;
    margin-top: 7%;
    font-size: 15px;
}

.box-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-button button{
    cursor: pointer;
}
.box-button a{
    color: black;
    text-decoration: none;
}

.cadastro_button:hover{
    background-color: lightgray;
}

@media (max-width: 850px){
    
    .title{
        font-size: 14px;
        transition: all 1s;
    }

    .user_input{
        height: 6vh;
        width: 33vh;
        transition: all 1s;
        font-size: 13px;
    }

    .box-button button{
        height: 6vh;
        width: 46vh;
        transition: all 1s;
    }

    .info-input label{
        font-size: 15px;
        transition: all 1s;
    }
}

@media (max-width:600px){

    body{
        height: 110vh;
    }

    .title{
        font-size: 12px;
        margin-top: 7%;
        transition: all 1s;
    }

    .input-group{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 1s;
        gap: 0px;
    }

    .user_input{
        height: 5vh;
        width: 34vh;
        transition: all 1s;
        font-size: 12px;
    }

    .box-button{
        height: 5vh;
        width: 36vh;
        transition: all 1s;
    }

    .box-button button{
        height: 5vh;
        width: 34vh;
        font-size: 12px;
        margin-top: 25%;
        transition: all 1s;
    }

    .info-input label{
        font-size: 14px;
        transition: all 1s;
    }
}